= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :rol
    = f.select :rol, %w(assistant coach admin attendant)
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :gender
    = f.select :gender, %w(f m)
  .actions
    = f.submit 'Save'
