.contact-form
  %h3 Contact us
  = simple_form_for @contact_form do |f|
    - if @contact_form.errors.any?
      #error_explanation
        %h2= "#{pluralize(@contact_form.errors.count, 'error')} prohibited this document from being saved:"
        %ul
          - @contact_form.errors.full_messages.each do |msg|
            %li= msg
    .form-inputs
      .row-fluid
        .span12
          = f.input :rol, required: true, label: false, autofocus: true, collection: %w(assistant coach admin attendant) , placeholder: t(:rol_placeholder)
          = f.input :subject, required: true, placeholder: t(:email_placeholder)
          = f.input :message, as: :text, label: false, placeholder: t(:message_placeholder)
      .row-fluid
        .span12
          .form-actions
            = f.submit :submit
