%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    .common-template
      .header{style: 'background-color: #E82323; width: 100%; height: 130px'}
        .title{style: 'padding: 20px; font-weight: bold; font-size: 30px; color: #FFFFFF;'}
          %p{style: 'font-size: 15px'} Popayán 2013
          = image_tag 'http://railsgirls.com/images/railsgirls-logo.png'
      .main-image{align: 'center', style: "width: -moz-calc(100% - 10px); width: calc(100% - 10px); width: -webkit-calc(100% - 10px); height: 200px; text-align: center; border: #E82323 solid 5px;"}
        = image_tag 'http://railsgirls.com/images/rg-popayan-evt.png', height: '199', width: '300'
      %p
        = "Hola #{@recipient.name}!"
        = simple_format BlueCloth.new(@contact.message).to_html
        %br
      %p
      .end{style: "background-color: #E82323; width: 100%; height: 50px; padding: 20px 0px 20px 0px; text-align: right;"}
        %a{href: 'https://www.facebook.com/pages/Rails-Girls-Popay%C3%A1n/254976991320185'}
          = image_tag 'https://cdn3.iconfinder.com/data/icons/pyconic-icons-3-1/512/facebook-circle-512.png', height: '50', width: '50'
        %a{href: 'https://twitter.com/rgirlspopayan'}
          = image_tag 'https://cdn3.iconfinder.com/data/icons/pyconic-icons-3-1/512/twitter-circle-512.png', height: '50', width: '50', style: 'padding-right: 20px'

